@model IEnumerable<Packt.Shared.Cafe>
@{
    ViewData["Title"] =
    "Cafes at Zip Code: " + ViewData["ZipNames"];
}
<h2>Cafes at given Zip Code</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Street</th>
        <th>BuildingNumber</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNumber)
            </td>
        </tr>
    }
</table>
